# NB: Login to Azure Container Registery : az login && az acr login -n crutvikling --subscription 9c0d7873-b8aa-4042-96f8-b8ce5c9888d0
# https://portal.azure.com/#@Nasjonalfelleslosning.onmicrosoft.com/resource/subscriptions/9c0d7873-b8aa-4042-96f8-b8ce5c9888d0/resourceGroups/rg-eid-systest-cr/providers/Microsoft.ContainerRegistry/registries/crutvikling/overview

name: eidas
networks:
  eidas:
    name: eidas

services:
  #  redis:
  #    image: redis:alpine
  #    restart: always
  #    ports:
  #      - "6400:6379"
  #      - "5544:5006"
  #    networks:
  #      - eidas
  #    command: redis-server --maxmemory-policy allkeys-lru
  eidas-idporten-proxy:
    build:
      context: .
      dockerfile: docker/dev.Dockerfile
      args:
        GIT_PACKAGE_TOKEN: ${GIT_PACKAGE_TOKEN}
        GIT_PACKAGE_USERNAME: ${GIT_PACKAGE_USERNAME}
    environment:
      spring_profiles_active: local-docker
      OTEL_SDK_DISABLED: "true"
    ports:
      - "8077:8080"
      - "5088:5006"
    networks:
      - eidas
    entrypoint: "/bin/bash -c"
    command:
      - |
        cd /usr/local/webapps
        java -agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=*:5006 -jar application.jar
