management:
  endpoint:
    health:
      show-details: always
      show-components: always
spring:
  application:
    environment: systest
  main:
    log-startup-info: true
  data:
    redis:
      password: ${REDIS_PASSWORD}
      sentinel:
        master: mymaster
        password: ${REDIS_PASSWORD}
        nodes:
          - eidas-redis-sentinel-node-0.eidas-redis-sentinel-headless:26379
          - eidas-redis-sentinel-node-1.eidas-redis-sentinel-headless:26379
          - eidas-redis-sentinel-node-2.eidas-redis-sentinel-headless:26379
eidas:
  cache:
    response-secret: ${LIGHT_TOKEN_PROXYSERVICE_RESPONSE_SECRET}
    request-secret: ${LIGHT_TOKEN_PROXYSERVICE_REQUEST_SECRET}
  eu-proxy:
    redirect-uri: https://proxy.eidasnode.dev/SpecificProxyServiceResponse
  oidc-integrations:
    idporten:
      issuer: https://idporten.dev
      redirect-uri: https://idporten-proxy.eidasnode.dev/idpcallback
      client-id: eidas-proxy-client-dev
      client-auth-method: client_secret_basic
      client-secret: ${EIDAS_CLIENT_SECRET}
    ansattporten:
      issuer: https://ansattporten.dev
      redirect-uri: https://idporten-proxy.eidasnode.dev/idpcallback?idp=ansattporten
      client-id: eidas-proxy-client-ansattporten-systest
      client-auth-method: client_secret_basic
      client-secret: ${EIDAS_ANSATTPORTEN_CLIENT_SECRET}
